2_Reads/0_Raw/*/
2_Reads/1_Untrimmed/*/
3_Outputs/*
2_Reads/4_Host_removed/
2_Reads/4_Host_removed/*
ENA/
.snakemake/*
temp/*
PR_Preprocessing_input.csv
.VSCodeCounter/2023-10-04_14-24-23/details.md
.VSCodeCounter/2023-10-04_14-24-23/diff-details.md
.VSCodeCounter/2023-10-04_14-24-23/diff.csv
.VSCodeCounter/2023-10-04_14-24-23/diff.md
.VSCodeCounter/2023-10-04_14-24-23/diff.txt
.VSCodeCounter/2023-10-04_14-24-23/results.csv
.VSCodeCounter/2023-10-04_14-24-23/results.json
.VSCodeCounter/2023-10-04_14-24-23/results.md
.VSCodeCounter/2023-10-04_14-24-23/results.txt
